core.Microsoft*
core.mongo*
core.python*
env.py
.venv/
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/datasets/
inputs/animals/
/outputs/
*.zip
*.h5
*.ckpt
*.keras
*.pt
*.pkl
*.joblib