core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
# Ignore datasets
inputs/datasets/
inputs/animals/
*.zip
# Model weights and artifacts
*.h5
*.ckpt
*.pt
# Serialized models
*.pkl
*.joblib